    <div th:fragment="divprincipal" class="container mt-3 mx-auto">
        <div class="row justify-content-center p-4 text-white" style="background-color: #3C455C;">
            <div class="col-4 m-auto">
                <h1 style="text-align: center">Libreria</h1>
            </div>
            <div class="col-4 m-auto" style="text-align: right">
                <div class="dropdown" >
                    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown"
                            accesskey="" aria-haspopup="true" aria-expanded="false">
                        Buscar libros
                     </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/libro/busqueda">Por autor</a>
                        <a class="dropdown-item" href="/libro/busquedaEditorial">Por editorial</a>
                        <a class="dropdown-item" href="/libro/busquedaTitulo">Por titulo</a>
                    </div>         
                </div>
            </div>
        </div>
    </div>