<div th:fragment="divsecundario(subtitulo)" class="container mt-3 mx-auto">
    <div class="row justify-content-center p-4 text-white" style="background-color: #3C455C;">
        <div class="col-4 m-auto">
            <h1 style="text-align: center">Libreria</h1>
            <h5 style="text-align: center" th:text="${subtitulo}"></h5>
            <span> </span>
        </div>
        <div class="col-4 m-auto" style="text-align: right">
            <div>
                <a href="/" class="btn btn-light m-2">Volver al inicio</a>           
            </div>
        </div>
    </div>
</div>