<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="/fragments/head :: head"> </head>

<body style="background-image: url(https://i.pinimg.com/564x/bf/53/35/bf533592be78830fc299cc9fdebb1fc7.jpg);">
    
    <div th:replace="/fragments/divprincipal :: divprincipal"></div>
    
    <div class="container mt-5 mx-auto">
        <div class="row">
            
            <div class="col-md-4 text-center p-4 d-flex flex-column align-items-center"
                style="background-color: antiquewhite">
                <h3>Libros</h3>
                <a href="/libro/registro" class="btn btn-outline-dark m-2 w-50">Registrar</a>
                <a href="/libro/modificar" class="btn btn-outline-dark m-2 w-50">Modificar</a>
                <a href="/libro/eliminar" class="btn btn-outline-dark m-2 w-50">Eliminar</a>
                <a href="/libro/lista" class="btn btn-outline-dark m-2 w-50">Listar</a>
            </div>           
            
            <div class="col-md-4 text-center p-4 d-flex flex-column align-items-center"
                style="background-color: antiquewhite ;">
                <h3>Autores</h3>
                <a href="/autor/registro" class="btn btn-outline-dark m-2 w-50">Registrar</a>
                <a href="/autor/modificar" class="btn btn-outline-dark m-2 w-50">Modificar</a>
                <a href="/autor/eliminar" class="btn btn-outline-dark m-2 w-50">Eliminar</a>
                <a href="/autor/lista" class="btn btn-outline-dark m-2 w-50">Listar</a>
            </div>
            
            <div class="col-md-4 text-center p-4 d-flex flex-column align-items-center"
                style="background-color: antiquewhite;">
                <h3>Editoriales</h3>
                <a href="/editorial/registro" class="btn btn-outline-dark m-2 w-50">Registrar</a>
                <a href="/editorial/modificar" class="btn btn-outline-dark m-2 w-50">Modificar</a>
                <a href="/editorial/eliminar" class="btn btn-outline-dark m-2 w-50">Eliminar</a>
                <a href="/editorial/lista" class="btn btn-outline-dark m-2 w-50">Listar</a>
            </div>
            
        </div>
    </div>

</body>

</html>