<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

    <head th:replace="/fragments/head :: head"> </head>

    <body style="background: url(https://i.pinimg.com/564x/bf/53/35/bf533592be78830fc299cc9fdebb1fc7.jpg)">

        <div th:replace="/fragments/divsecundarios :: divsecundario(subtitulo ='Lista de libros')">  
        </div>

        <div class="d-flex justify-content-center text-center mx-auto pt-3" style="width: 50%">
            <div th:if="${error}" class="alert alert-warning alert-dismissible fade show" role="alert">
                <p th:text="${error}">Ocurrio un error</p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>

        <div class="container mt-2 mx-auto align-items-center">

            <div class="row text-center d-flex justify-content-center">
                <table class="table table-light table-bordered w-50">
                    <thead>
                        <tr>
                            <th></th>
                            <th>ISBN</th>
                            <th>Año de publicación</th>
                            <th>Titulo</th>
                            <th>Ejemplares</th>
                            <th>Prestados</th>
                            <th>Disponibles</th>
                            <th>Autor</th>
                            <th>Editorial</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each=" l,iterator : ${libros}">
                            <td scope="col" th:text="${iterator.index+1}"></td>
                            <td scope="col" th:text="${l.isbn}"></td>   
                            <td scope="col" th:text="${l.anio}"></td>
                            <td scope="col" th:text="${l.titulo}"></td>
                            <td scope="col" th:text="${l.ejemplares}"></td>
                            <td scope="col" th:text="${l.ejemplaresPrestados}"></td>
                            <td scope="col" th:text="${l.ejemplaresRestantes}"></td>
                            <td scope="col" th:text="${l.autor.nombre}"></td>
                            <td scope="col" th:text="${l.editorial.nombre}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </body>

</html>