<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

    <head th:replace="/fragments/head :: head"> </head>

    <body style="background: url(https://i.pinimg.com/564x/bf/53/35/bf533592be78830fc299cc9fdebb1fc7.jpg);">

        <div th:replace="/fragments/divsecundarios :: divsecundario(subtitulo ='Registro de editoriales')">  
        </div>
        
        <div class="d-flex justify-content-center text-center mx-auto pt-3" style="width: 50%">
            <div th:if="${error}" class="alert alert-warning alert-dismissible fade show" role="alert">
                <p th:text="${error}">Ocurrio un error</p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
        
        <div class="container mt-5 mx-auto ">
            <div class="row text-center d-flex justify-content-center">
                <div class="col-md-4 mb-3 p-3 d-flex flex-column align-items-center" style="background-color:#9496b8; ">
                    <form action="/editorial/save" method="POST">
                        <input type="text" class="form-control m-2 w-100" name="nombre" placeholder="Nombre de la editorial">
                        <button type="submit" class="btn btn-outline-dark m-2 w-100">Registrar</button>
                    </form>
                </div>
            </div>
        </div>
        
    </body>

</html>